.company {
  padding-top: 80px;
  padding-bottom: 100px;
  &__title {
    font-size: 48px;
    text-align: center;
    font-weight: 700;
    color: $gray-txt;
  }
  &__slider {
    width: auto;
    height: 468px;
  }
}

@media (max-width: 991.98px) {
  .company {
    &__title {
      font-size: 38px;
    }
  }
}