.contacts {
  padding: 100px 0;

  &-us {
    &__span {
      font-size: 15px;
      color: $gray-txt;
      letter-spacing: 0.17em;
    }

    &__line {
      width: 13%;
      height: 4px;
      margin-top: 4px;
      margin-bottom: 8px;
      background-color: $primary;
      border-radius: 0px;
    }

    &-block {

        margin-bottom: 20px;
        align-items: center;

    }

    &__title {
      margin-bottom: 20px;
      font-size: 26px;
      font-weight: 700;
    }

    &-svg {
      padding: 0 20px;
    }

    &__svg-tel {
      width: 65px;
      fill: $gray-txt;
    }

    &__link {
      font-size: 24px;
      font-weight: 700;
      text-transform: none !important;
      text-decoration: none;
    }
  }
}

@media (max-width: 991.98px) {
  .contacts {
    padding-bottom: 0;
    &-us {
      &-block {
        flex-direction: column;
        &:last-child {
          margin-bottom: 36px;
        }
      }
      &__hooks {
        text-align: center;
      }
    }
  }
}