.footer {
  color: $white;
  background-color: #1c1f1d;
  padding-top: 60px;
  padding-bottom: 50px;
  &__title {
    display: inline-block;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
  }
  &-social {
      &-block {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding-bottom: 20px;
      }
      &__link {
        background-color: white;
        width: 38px;
        max-width: 38px;
        height: 38px;
        border-radius: 19px;
        text-align: center;
        margin: 0 10px;
        &:first-child{
          margin-left: 0;
        }
        & > svg {
          width: 18px;
          height: auto;
          vertical-align: -webkit-baseline-middle;

        }
      }
      &__logo {
      }
  }
  &-block {
    &__social {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    &__logo {
    }
  }
  &-info {
    &-block {
      display: flex;
      flex-direction: row;
      padding-bottom: 10px;
      align-items: center;
    }
    &-svg {
      width: 33px;
    }
    &__svg {
      min-width: 100%;
      fill: $primary;
    }
    &__text {
      padding-left: 16px;
      width: 80%;
    }
  }
    &__map {
      //background-color: #00b5a7;
      height: 220px;
      width: auto;
      padding-top: 20px;
    }

}

.svg__telegram {
  fill: #0088cc;
}
.svg__instagram {
  fill: #e32d46;
}
.svg__linkedin {
  fill: #0077b4;
}
.svg__vk {
  width: 26px !important;
  fill: #507299;
}