.form {
  text-align: center;
  &-text {
    padding-bottom: 12px;
    border-bottom: 6px;
    border-bottom: 1px solid rgba(82,92,105,0.11);
    text-align: center;
    &__title {
      color: #000908;
      font-size: 24px;
      font-weight: 700;
    }
  }
  &__block {
    padding: 1rem 0 !important;

  }

  &__padding {
    padding: 14px 30px;
  }
  &__input {
    width: 100%;
    height: 50px;
    margin-bottom: 16px;
    color: $gray-txt;
    border: none !important;
    border-bottom: 2px solid rgba(82,92,105,0.11) !important;
    transition: border-color 0.3s ease-in-out;
    &:focus {
      border: none !important;
      border-bottom: 2px solid $primary !important;
      outline: none;
    }
    &:focus-visible {
      border: none !important;
      border-bottom: 2px solid $primary !important;
      outline: none;

    }
  }
}