body {
  background-color: #ffffff !important;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 400 !important;
}
.container {
  height: 100%;
}
.btn {
  //display: flex !important;
  background-color: $primary;
  text-transform: uppercase !important;
  font-size: 18px !important;
  padding: 14px 20px !important;
  &-primary {
    color: $white !important;
    font-size: 18px !important;
    &:hover, :focus {
      box-shadow: none !important;
      background-color: $primary-darken !important;
      border-color: $primary-darken !important;
    }
  }
  &-outline {
    &-primary {
      border: 2px solid $primary !important;
      &:hover, :focus {
        box-shadow: none !important;
        background-color: transparent !important;
        color: $white !important;
        border-color: $white !important;
      }
      &:active {
        box-shadow: $white !important;
      }
    }
  }
  &:focus {
    box-shadow: none !important;
  }
}
.accordion-button {
  border: none !important;
  &:focus {
    box-shadow: none !important;
    border-color: $white !important;
  }
  &:not(.collapsed) {
    color: initial !important;
    background-color: initial !important;
    box-shadow: none;
  }
}
.bold {
  font-weight: 500;
}
.txt-gray {
  color: $gray-txt;
}
.txt-line {
  content: '';
  width: 125px;
  height: 1px;
  border: $primary 1px solid;
  margin-bottom: 10px;
}

a {
  text-transform: uppercase !important;
}
img  {
  max-width: 100%;
}